html {
font-family:  sans-serif;
}
header {
   background-image:url("covid.png");
   position: centre;
}
nav {
   display: inline-block;
   list-style: none;
   float: right;
   top: -2cm;
   font-family: 'Courier New', Courier, monospace;
   
}
body {
   margin: 0%;
}
img {
   width: 30%;
}
section {
   display: grid;
   grid-template-columns: auto auto auto;
   text-align: center;
}
figcaption {
   color: rgb(4, 4, 134);
  text-align: center;

}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
}
article {
   text-align: center;
   color: rgb(4, 4, 134);
   background-color: rgb(253, 228, 6);
}
ul {
   text-align: center;
   color: rgb(4, 4, 134);
}
h3 {
   color: rgb(3, 3, 3);
}

a , button {
   font-family: "Montserrat" , sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: rgb(3, 3, 3);
   text-decoration: space-between;
}
